/* BookmarksCards.css */
.list-group {
    margin: 3px;
}
.list-group-item {
    margin: 2px;
    border-width: 2px 0px 2px 0px;
    padding: 0px 6px 0px 8px;
    vertical-align: middle;
    border: none;
    cursor: pointer;
}
.list-group-item:hover {
    border-radius: 4px;
}
.list-group-item.key-link {
    font-weight: bold;
    font-size: 14px;
    min-height: 24px;
    background: #F2CC38;
    color: #1e1e1e;
}
.list-group-item.key-link:hover {
    background-color: #00A082;
    color: #f1f1f1;
}
.list-group-item.standard-link {
    font-size: 13px;
    background: #363636;
    color: #f1f1f1;
}
.list-group-item.standard-link:hover {
    background-color: #00A082;
    color: #F2CC38;
}
.item-icon {
    margin-top: -2px;
    margin-right: 6px;
    height: 16px;
    width: 16px;
}
.card-container {
    column-count: 1;
    column-gap: 12px;
}
.card {
    border-color: #000000;
    margin-bottom: 8px;
    min-width: 250px;
    max-width: 500px;
    background: #363636;
    break-inside: avoid;
}
.card-header {
    background-color: #1e1e1e;
    border-color: #000000;
    color: #00A082;
    font-size: 14px;
    font-weight: bold;
    padding: 6px 6px 6px 10px;
    cursor: pointer;
}
.card-header:hover {
    background-color: #00A082;
    color: #F2CC38;
}
.card-body {
    border-color: #000000;
}
.card-as-overlay {
    margin-top: 6px;
    border-color: #00A082;
    border-width: 2px;
}

.key-link {
    text-align: center;
    max-width: 100%;
    background: #F2CC38;
}

@media (min-width: 530px) {
    .card-container {
        column-count: 2;
    }
}

@media (min-width: 800px) {
    .card-container {
        column-count: 3;
    }
}

@media (min-width: 1100px) {
    .card-container {
        column-count: 4;
    }
}

@media (min-width: 1400px) {
    .card-container {
        column-count: 5;
    }
}

@media (min-width: 1650px) {
    .card-container {
        column-count: 6;
    }
}

@media (min-width: 2000px) {
    .card-container {
        column-count: 7;
    }
}

@media (min-width: 2200px) {
    .card-container {
        column-count: 8;
    }
}
